<a href="https://colab.research.google.com/github/valeksandrav/PortfolioProjects/blob/main/Python_SQL_Telecom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Uploading

## Postgres Installation

In [ ]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

 * Starting PostgreSQL 14 database server
   ...done.
ALTER ROLE

In [ ]:
from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')

In [ ]:
pip install --upgrade 'sqlalchemy<2.0'

Requirement already satisfied: sqlalchemy<2.0 in /usr/local/lib/python3.10/dist-packages (1.4.50)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<2.0) (3.0.0)

In [ ]:
import csv
from io import StringIO

def psql_insert_copy(table, conn, keys, data_iter):
    # gets a DBAPI connection that can provide a cursor
    dbapi_conn = conn.connection
    with dbapi_conn.cursor() as cur:
        s_buf = StringIO()
        writer = csv.writer(s_buf)
        writer.writerows(data_iter)
        s_buf.seek(0)

        columns = ', '.join('"{}"'.format(k) for k in keys)
        if table.schema:
            table_name = '{}.{}'.format(table.schema, table.name)
        else:
            table_name = table.name

        sql = 'COPY {} ({}) FROM STDIN WITH CSV'.format(
            table_name, columns)
        cur.copy_expert(sql=sql, file=s_buf)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def select(sql):
  return pd.read_sql(sql,con)

## Data Downloading

Data on Google Drive https://drive.google.com/file/d/1-hI3Dm3A_Sdgooz8wsuMDGKn0oF-APjt/view?usp=sharing

In [ ]:
!gdown --id 1-hI3Dm3A_Sdgooz8wsuMDGKn0oF-APjt

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1-hI3Dm3A_Sdgooz8wsuMDGKn0oF-APjt
To: /content/test_case_telecom.zip
100% 819k/819k [00:00<00:00, 91.7MB/s]

In [ ]:
#import shutil
#shutil.rmtree('/content/__MACOSX')

In [ ]:
! unzip test_case_telecom.zip

Archive:  test_case_telecom.zip
  inflating: Charges.csv
  inflating: __MACOSX/._Charges.csv
  inflating: Suspended.csv
  inflating: __MACOSX/._Suspended.csv
  inflating: Tariff_plans_change.csv
  inflating: __MACOSX/._Tariff_plans_change.csv

## Creating table tariff_plans_change

In [ ]:
df = pd.read_csv('/content/Tariff_plans_change.csv')

In [ ]:
df['START_DTTM'] = pd.to_datetime(df['START_DTTM'],format='%Y-%m-%d %H:%M:%S')

In [ ]:
df['END_DTTM'] = pd.to_datetime(df['END_DTTM'],format='%Y-%m-%d %H:%M:%S',errors='coerce')

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df.dtypes

subscriber_id              int64
tariff_plan_id             int64
start_dttm        datetime64[ns]
end_dttm          datetime64[ns]
dtype: object

In [ ]:
df.to_sql('tariff_plans_change',con,index=False,if_exists='replace',method=psql_insert_copy)

In [ ]:
sql = '''select count(*) from tariff_plans_change t'''

In [ ]:
select(sql)

   count
0  12344

In [ ]:
len(df)

12344

## Creating table charges

In [ ]:
df = pd.read_csv('Charges.csv')

In [ ]:
df['BILL_MONTH'] = pd.to_datetime(df['BILL_MONTH'],format='%Y-%m-%d')

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df.dtypes

subscriber_id             int64
bill_month       datetime64[ns]
charges                 float64
dtype: object

In [ ]:
df.to_sql('charges',con,index=False,if_exists='replace',method=psql_insert_copy)

In [ ]:
sql = '''select count(*) from charges t'''

In [ ]:
select(sql)

    count
0  112595

In [ ]:
len(df)

112595

## Creating table suspended

In [ ]:
df = pd.read_csv('/content/Suspended.csv')

In [ ]:
df['START_DT'] = pd.to_datetime(df['START_DT'],
                                format='%Y-%m-%d',
                                errors='coerce')

In [ ]:
df['END_DT'] = pd.to_datetime(df['END_DT'],
                              format='%Y-%m-%d',
                              errors='coerce')

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df.dtypes

subscriber_id             int64
start_dt         datetime64[ns]
end_dt           datetime64[ns]
status                   object
dtype: object

In [ ]:
df.to_sql('suspended',con,index=False,if_exists='replace',method=psql_insert_copy)

In [ ]:
sql = '''select count(*) from suspended t'''

In [ ]:
select(sql)

   count
0   4063

In [ ]:
len(df)

4063

# Task Solution

There are three files in the archive:

The Tariff_plans_change.csv file contains selected transaction data related to subscribers who switched tariff plans in the first half of 2017:

SUBSCRIBER_ID - conditional subscriber identifier

TARIFF_PLAN_ID - conditional identifier of the tariff plan  

START_DTTM - date and time of plan connection

END_DTTM - date and time of disconnection (value $null$ means that the plan is actual at the moment).

The Charges.csv file contains monthly historical data on subscribers' total mobile communication expenses:

SUBSCRIBER_ID - conditional subscriber identifier

BILL_MONTH - billing period in YYYYY-MM-01 format (for example, lines with the value '2016-01-01' contain data on expenses and consumption for January 2016)

CHARGES - total amount of the bill for communication services

The Suspended.csv file contains historical data on subscriber blockings in the transactional form:

SUBSCRIBER_ID - subscriber's conditional identifier

START_DT - blocking start date

END_DT - blocking end date ($null$ value means that the subscriber remains currently blocked).

The following issues should be investigated:

The directions of tariff plan changes: from which tariff plans and to which tariff plans were the largest churns going?  

How much has changed the average monthly bill of subscribers for the period of 3 months after the month of tariff plan change in comparison with the period of 3 months before the month of tariff plan change.

Which directions of tariff plan changes were characterised by an increase in the average bill in the three-month period, and which were characterised by a decrease.  

Only regarding changes in the level of blocking: how much less often or more often subscribers became blocked after migration in general and for each direction of migration separately. Use the same periods for comparison: 3 months before the month of plan change and 3 months after the month of change.

## The directions of tariff plan changes: from which tariff plans and to which tariff plans were the largest churns going?

In [ ]:
sql = '''select * from tariff_plans_change t limit 5'''

In [ ]:
select(sql)

   subscriber_id  tariff_plan_id          start_dttm            end_dttm
0              1               2 2013-11-22 21:10:08 2017-03-11 14:24:17
1              1               3 2017-03-11 14:24:18                 NaT
2              2               1 2016-02-05 16:36:34 2017-06-29 12:39:58
3              2               5 2017-06-29 12:39:59                 NaT
4              3               1 2015-05-06 19:17:46 2017-04-14 12:00:59

In [ ]:
t = select(sql)

In [ ]:
for col in t.columns:
  print(f't.{col},')

t.subscriber_id,
t.tariff_plan_id,
t.start_dttm,
t.end_dttm,

In [ ]:
#value count for tariff plans change
sql = '''
with unique_tariff as (
select
distinct
t.subscriber_id,
t.tariff_plan_id,
t.start_dttm,
t.end_dttm
from tariff_plans_change t),

tariff_number as (
select t.*,
row_number() over (partition by t.subscriber_id order by t.start_dttm) as tariff_number
from unique_tariff t),

tariff_cnt as (
select t.subscriber_id, count(1) as tariff_cnt
from tariff_number t
group by t.subscriber_id)

select t.tariff_cnt, count(1)
from tariff_cnt t
group by t.tariff_cnt
order by count(1) desc
'''

In [ ]:
select(sql)

   tariff_cnt  count
0           2   5718
1           3    245
2           4     21
3           5      3
4           9      1
5           8      1

In [ ]:
#row number desc accounting the last change (each users last tariff plan)
sql = '''
with unique_tariff as (
select
distinct
t.subscriber_id,
t.tariff_plan_id,
t.start_dttm,
t.end_dttm
from tariff_plans_change t),

tariff_number as (
select t.*,
row_number() over (partition by t.subscriber_id order by t.start_dttm desc) as tariff_number
from unique_tariff t),

tariff_change as (
select
t.subscriber_id,
t.tariff_plan_id as tariff_plan_id_last,
t.start_dttm as start_dttm_last,
tn.tariff_plan_id as tariff_plan_id_first,
tn.start_dttm as start_dttm_first,
tn.end_dttm as end_dttm_first

from tariff_number t
left join tariff_number tn
on t.subscriber_id = tn.subscriber_id
and tn.tariff_number = 2
where t.tariff_number = 1)

select
t.tariff_plan_id_first,
t.tariff_plan_id_last,
count(1) as user_cnt

from tariff_change t

group by
t.tariff_plan_id_first,
t.tariff_plan_id_last

order by
user_cnt desc
'''

In [ ]:
select(sql)

    tariff_plan_id_first  tariff_plan_id_last  user_cnt
0                      3                    5      2319
1                      1                    5      1566
2                      4                    5       512
3                      2                    5       408
4                      1                    4       353
5                      3                    4       307
6                      2                    4       139
7                      5                    1        67
8                      5                    3        59
9                      4                    3        48
10                     1                    3        48
11                     5                    4        40
12                     4                    1        31
13                     4                    2        20
14                     3                    1        18
15                     2                    3        16
16                     2                    1        13
17                     3                    2         8
18                     5                    5         7
19                     1                    2         5
20                     5                    2         4
21                     3                    3         1

## Basic Sankey Diagram: visualizing the contributions to a flow

In [ ]:
switch = select(sql)

In [ ]:
switch[['tariff_plan_id_first', 'tariff_plan_id_last']] = switch[['tariff_plan_id_first', 'tariff_plan_id_last']].astype('str')

In [ ]:
switch['tariff_plan_id_first'] = '1_' + switch['tariff_plan_id_first']

In [ ]:
switch['tariff_plan_id_last'] = '2_' + switch['tariff_plan_id_last']

In [ ]:
switch

   tariff_plan_id_first tariff_plan_id_last  user_cnt
0                   1_3                 2_5      2319
1                   1_1                 2_5      1566
2                   1_4                 2_5       512
3                   1_2                 2_5       408
4                   1_1                 2_4       353
5                   1_3                 2_4       307
6                   1_2                 2_4       139
7                   1_5                 2_1        67
8                   1_5                 2_3        59
9                   1_4                 2_3        48
10                  1_1                 2_3        48
11                  1_5                 2_4        40
12                  1_4                 2_1        31
13                  1_4                 2_2        20
14                  1_3                 2_1        18
15                  1_2                 2_3        16
16                  1_2                 2_1        13
17                  1_3                 2_2         8
18                  1_5                 2_5         7
19                  1_1                 2_2         5
20                  1_5                 2_2         4
21                  1_3                 2_3         1

In [ ]:
def genSankey(df,cat_cols=[],value_cols='',title='Sankey Diagram'):
    # maximum of 6 value cols -> 6 colors
    colorPalette = ['#4B8BBE','#306998','#FFE873','#FFD43B','#646464']
    labelList = []
    colorNumList = []
    for catCol in cat_cols:
        labelListTemp =  list(set(df[catCol].values))
        colorNumList.append(len(labelListTemp))
        labelList = labelList + labelListTemp

    # remove duplicates from labelList
    labelList = list(dict.fromkeys(labelList))

    # define colors based on number of levels
    colorList = []
    for idx, colorNum in enumerate(colorNumList):
        colorList = colorList + [colorPalette[idx]]*colorNum

    # transform df into a source-target pair
    for i in range(len(cat_cols)-1):
        if i==0:
            sourceTargetDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            sourceTargetDf.columns = ['source','target','count']
        else:
            tempDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            tempDf.columns = ['source','target','count']
            sourceTargetDf = pd.concat([sourceTargetDf,tempDf])
        sourceTargetDf = sourceTargetDf.groupby(['source','target']).agg({'count':'sum'}).reset_index()

    # add index for source-target pair
    sourceTargetDf['sourceID'] = sourceTargetDf['source'].apply(lambda x: labelList.index(x))
    sourceTargetDf['targetID'] = sourceTargetDf['target'].apply(lambda x: labelList.index(x))

    # creating the sankey diagram
    data = dict(
        type='sankey',
        node = dict(
          pad = 15,
          thickness = 20,
          line = dict(
            color = "black",
            width = 0.5
          ),
          label = labelList,
          color = colorList
        ),
        link = dict(
          source = sourceTargetDf['sourceID'],
          target = sourceTargetDf['targetID'],
          value = sourceTargetDf['count']
        )
      )

    layout =  dict(
        title = title,
        font = dict(
          size = 10
        )
    )

    fig = dict(data=[data], layout=layout)
    return fig

In [ ]:
param = genSankey(switch,cat_cols=['tariff_plan_id_first','tariff_plan_id_last'],value_cols='user_cnt')

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Sankey(
    node = dict(
      pad = 15,
      thickness = 20,
      line = dict(color = "black", width = 0.5),
      label = param['data'][0]['node']['label'],
      color = "blue"
    ),
    link = dict(
      source = param['data'][0]['link']['source'], # indices correspond to labels, eg A1, A2, A1, B1, ...
      target = param['data'][0]['link']['target'],
      value = param['data'][0]['link']['value']
  )
    )])

fig.update_layout(title_text="Basic Sankey Diagram", font_size=10)
fig.show()

## How much the average monthly bill of subscribers changed for the period of 3 months after the month of tariff plan change in comparison with the period of 3 months before the month of tariff plan change?

In [ ]:
sql = '''
with unique_tariff as (
select
distinct
t.subscriber_id,
t.tariff_plan_id,
t.start_dttm,
t.end_dttm
from tariff_plans_change t),

tariff_number as (select t.*,
row_number() over(partition by t.subscriber_id order by t.start_dttm desc) as tariff_number
from unique_tariff t),

tariff_change as (
select
t.subscriber_id,
t.tariff_plan_id as tariff_plan_id_last,
t.start_dttm as start_dttm_last,
tn.tariff_plan_id as tariff_plan_id_first,
tn.start_dttm as start_dttm_first,
tn.end_dttm as end_dttm_first,
date_trunc('month',t.start_dttm) as tariff_change_month
from tariff_number t
left join tariff_number tn
on t.subscriber_id = tn.subscriber_id
and tn.tariff_number = 2
where t.tariff_number = 1),

charges_before as (
select
t.subscriber_id,
sum(c.charges) as charges_sum,
count(1) as charges_cnt,
avg(c.charges) as charges_avg
from tariff_change t
left join charges c
on t.subscriber_id = c.subscriber_id
and c.bill_month between t.tariff_change_month - interval '1 month' * 3
and t.tariff_change_month - interval '1 month' * 1
and c.charges between 0 and 20
group by t.subscriber_id),

charges_after as (
select
t.subscriber_id,
sum(c.charges) as charges_sum,
count(1) as charges_cnt,
avg(c.charges) as charges_avg
from tariff_change t
left join charges c
on t.subscriber_id = c.subscriber_id
and c.bill_month between t.tariff_change_month + interval '1 month' * 1
and t.tariff_change_month + interval '1 month' * 3
and c.charges between 0 and 20
group by t.subscriber_id),

charges_before_after as (
select
t.*,
cb.charges_sum as charges_before_3m,
cb.charges_cnt as charges_cnt_before,
cb.charges_avg as charges_avg_before,
ca.charges_sum as charges_after_3m,
ca.charges_cnt as charges_cnt_after,
ca.charges_avg as charges_avg_after
from tariff_change t
left join charges_before cb
on t.subscriber_id = cb.subscriber_id
left join charges_after ca
on t.subscriber_id = ca.subscriber_id)

select
avg(t.charges_avg_before) as before,
avg(t.charges_avg_after) as after,
(avg(t.charges_avg_after) - avg(t.charges_avg_before)) / avg(t.charges_avg_before) as change
from charges_before_after t
where t.charges_cnt_before = 3
and t.charges_cnt_after = 3
'''

In [ ]:
select(sql)

     before     after    change
0  7.338054  6.060968 -0.174036

In [ ]:
sql = '''
with unique_tariff as (
select
distinct
t.subscriber_id,
t.tariff_plan_id,
t.start_dttm,
t.end_dttm
from tariff_plans_change t),

tariff_number as (select t.*,
row_number() over(partition by t.subscriber_id order by t.start_dttm desc) as tariff_number
from unique_tariff t),

tariff_change as (
select
t.subscriber_id,
t.tariff_plan_id as tariff_plan_id_last,
t.start_dttm as start_dttm_last,
tn.tariff_plan_id as tariff_plan_id_first,
tn.start_dttm as start_dttm_first,
tn.end_dttm as end_dttm_first,
date_trunc('month',t.start_dttm) as tariff_change_month
from tariff_number t
left join tariff_number tn
on t.subscriber_id = tn.subscriber_id
and tn.tariff_number = 2
where t.tariff_number = 1),

charges_before as (
select
t.subscriber_id,
sum(c.charges) as charges_sum,
count(1) as charges_cnt,
avg(c.charges) as charges_avg
from tariff_change t
left join charges c
on t.subscriber_id = c.subscriber_id
and c.bill_month between t.tariff_change_month - interval '1 month' * 3
and t.tariff_change_month - interval '1 month' * 1
and c.charges between 0 and 20
group by t.subscriber_id),

charges_after as (
select
t.subscriber_id,
sum(c.charges) as charges_sum,
count(1) as charges_cnt,
avg(c.charges) as charges_avg
from tariff_change t
left join charges c
on t.subscriber_id = c.subscriber_id
and c.bill_month between t.tariff_change_month + interval '1 month' * 1
and t.tariff_change_month + interval '1 month' * 3
and c.charges between 0 and 20
group by t.subscriber_id),

charges_before_after as (
select
t.*,
cb.charges_sum as charges_before_3m,
cb.charges_cnt as charges_cnt_before,
cb.charges_avg as charges_avg_before,
ca.charges_sum as charges_after_3m,
ca.charges_cnt as charges_cnt_after,
ca.charges_avg as charges_avg_after
from tariff_change t
left join charges_before cb
on t.subscriber_id = cb.subscriber_id
left join charges_after ca
on t.subscriber_id = ca.subscriber_id)

select
t.tariff_plan_id_first,
t.tariff_plan_id_last,
count(1) as user_cnt,
avg(t.charges_avg_before) as before,
avg(t.charges_avg_after) as after,
(avg(t.charges_avg_after) - avg(t.charges_avg_before)) / avg(t.charges_avg_before) as change

from charges_before_after t
where t.charges_cnt_before = 3
and t.charges_cnt_after = 3

group by
t.tariff_plan_id_first,
t.tariff_plan_id_last

order by count(1) desc
'''

In [ ]:
select(sql)

,tariff_plan_id_first,tariff_plan_id_last,user_cnt,before,after,change
0,3,5,2073,8.407208,6.464446,-0.231083
1,1,5,1257,7.236361,6.195536,-0.143833
2,4,5,415,6.045372,6.183480,0.022845
3,2,5,344,6.267281,6.194256,-0.011652
4,1,4,327,5.685183,3.938268,-0.307275
5,3,4,271,7.045891,4.637973,-0.341748
6,2,4,129,3.670674,3.741987,0.019428
7,5,1,50,7.864520,7.557780,-0.039003
8,5,3,38,8.243614,8.541070,0.036083
9,1,3,36,8.173565,8.369648,0.023990
10,4,3,33,6.102495,8.451202,0.384877
11,5,4,30,4.932489,2.906867,-0.410669
12,4,1,29,6.004793,6.432793,0.071276
13,3,1,17,8.105020,7.551059,-0.068348
14,4,2,13,3.414179,5.181000,0.517495
15,2,1,13,7.857000,6.910051,-0.120523
16,2,3,9,9.158037,8.333630,-0.090020
17,3,2,6,6.409389,6.557611,0.023126
18,5,5,5,10.198600,5.645467,-0.446447
19,1,2,5,5.128467,3.989200,-0.222146
20,5,2,3,3.001778,3.889889,0.295862

The largest number of users switched from tariff 3 to tariff 5 with a 23% reduction in charges. And sankey diagram above shows this.

## Similarly to the question above, only regarding the change in the level of suspending: how much less or more frequently subscribers became suspended after migration in general and for each migration direction separately.

In [ ]:
sql = '''
with unique_tariff as (
select
distinct
t.subscriber_id,
t.tariff_plan_id,
t.start_dttm,
t.end_dttm
from tariff_plans_change t),

tariff_number as (select t.*,
row_number() over(partition by t.subscriber_id order by t.start_dttm desc) as tariff_number
from unique_tariff t),

tariff_change as (
select
t.subscriber_id,
t.tariff_plan_id as tariff_plan_id_last,
t.start_dttm as start_dttm_last,
tn.tariff_plan_id as tariff_plan_id_first,
tn.start_dttm as start_dttm_first,
tn.end_dttm as end_dttm_first,
date_trunc('month',t.start_dttm) as tariff_change_month
from tariff_number t
left join tariff_number tn
on t.subscriber_id = tn.subscriber_id
and tn.tariff_number = 2
where t.tariff_number = 1),

charges_before as (
select
t.subscriber_id,
sum(c.charges) as charges_sum,
count(1) as charges_cnt,
avg(c.charges) as charges_avg
from tariff_change t
left join charges c
on t.subscriber_id = c.subscriber_id
and c.bill_month between t.tariff_change_month - interval '1 month' * 3
and t.tariff_change_month - interval '1 month' * 1
and c.charges between 0 and 20
group by t.subscriber_id),

charges_after as (
select
t.subscriber_id,
sum(c.charges) as charges_sum,
count(1) as charges_cnt,
avg(c.charges) as charges_avg
from tariff_change t
left join charges c
on t.subscriber_id = c.subscriber_id
and c.bill_month between t.tariff_change_month + interval '1 month' * 1
and t.tariff_change_month + interval '1 month' * 3
and c.charges between 0 and 20
group by t.subscriber_id),

charges_before_after as (
select
t.*,
cb.charges_sum as charges_before_3m,
cb.charges_cnt as charges_cnt_before,
cb.charges_avg as charges_avg_before,
ca.charges_sum as charges_after_3m,
ca.charges_cnt as charges_cnt_after,
ca.charges_avg as charges_avg_after
from tariff_change t
left join charges_before cb
on t.subscriber_id = cb.subscriber_id
left join charges_after ca
on t.subscriber_id = ca.subscriber_id),

suspended_before as (
select
t.subscriber_id,
count(1) as suspended_cnt
from tariff_change t
left join suspended s
on t.subscriber_id = s.subscriber_id
and date_trunc('month',s.start_dt) between t.tariff_change_month - interval '1 month' * 3
and t.tariff_change_month - interval '1 month' * 1
group by t.subscriber_id),

suspended_after as (
select
t.subscriber_id,
count(1) as suspended_cnt
from tariff_change t
left join suspended s
on t.subscriber_id = s.subscriber_id
and date_trunc('month',s.start_dt) between t.tariff_change_month + interval '1 month' * 1
and t.tariff_change_month + interval '1 month' * 3
group by t.subscriber_id),

charges_and_suspended as (
select
c.*,
sb.suspended_cnt as suspended_cnt_before,
sa.suspended_cnt as suspended_cnt_after
from charges_before_after c
left join suspended_before sb
on c.subscriber_id = sb.subscriber_id
left join suspended_after sa
on c.subscriber_id = sa.subscriber_id)

select
t.tariff_plan_id_first,
t.tariff_plan_id_last,
count(1) as user_cnt,
avg(t.charges_avg_before) as charges_before,
avg(t.charges_avg_after) as charges_after,
(avg(t.charges_avg_after) - avg(t.charges_avg_before)) / avg(t.charges_avg_before) as change_charges,
avg(t.suspended_cnt_before) as suspended_before,
avg(t.suspended_cnt_after) as suspended_after,
(avg(t.suspended_cnt_after) - avg(t.suspended_cnt_before)) / avg(t.suspended_cnt_before) as change_suspended

from charges_and_suspended t

where charges_cnt_before = 3
and charges_cnt_after = 3

group by
t.tariff_plan_id_first,
t.tariff_plan_id_last

order by count(1) desc
'''

In [ ]:
select(sql)

,tariff_plan_id_first,tariff_plan_id_last,user_cnt,charges_before,charges_after,change_charges,suspended_before,suspended_after,change_suspended
0,3,5,2073,8.407208,6.464446,-0.231083,1.041003,1.018813,-0.021316
1,1,5,1257,7.236361,6.195536,-0.143833,1.040573,1.031026,-0.009174
2,4,5,415,6.045372,6.183480,0.022845,1.091566,1.036145,-0.050773
3,2,5,344,6.267281,6.194256,-0.011652,1.002907,1.008721,0.005797
4,1,4,327,5.685183,3.938268,-0.307275,1.018349,1.033639,0.015015
5,3,4,271,7.045891,4.637973,-0.341748,1.077491,1.077491,0.000000
6,2,4,129,3.670674,3.741987,0.019428,1.000000,1.038760,0.038760
7,5,1,50,7.864520,7.557780,-0.039003,1.000000,1.000000,0.000000
8,5,3,38,8.243614,8.541070,0.036083,1.131579,1.052632,-0.069767
9,1,3,36,8.173565,8.369648,0.023990,1.000000,1.000000,0.000000
10,4,3,33,6.102495,8.451202,0.384877,1.060606,1.060606,0.000000
11,5,4,30,4.932489,2.906867,-0.410669,1.000000,1.000000,0.000000
12,4,1,29,6.004793,6.432793,0.071276,1.000000,1.137931,0.137931
13,3,1,17,8.105020,7.551059,-0.068348,1.058824,1.058824,0.000000
14,4,2,13,3.414179,5.181000,0.517495,1.000000,1.000000,0.000000
15,2,1,13,7.857000,6.910051,-0.120523,1.000000,1.153846,0.153846
16,2,3,9,9.158037,8.333630,-0.090020,1.000000,1.000000,0.000000
17,3,2,6,6.409389,6.557611,0.023126,2.166667,1.000000,-0.538462
18,5,5,5,10.198600,5.645467,-0.446447,1.000000,1.000000,0.000000
19,1,2,5,5.128467,3.989200,-0.222146,1.000000,1.000000,0.000000
20,5,2,3,3.001778,3.889889,0.295862,1.000000,1.000000,0.000000

The percentage of suspensions after changing the tariff plan from 3 to 5 is reduced by 2%